<div class="row" style="margin-top: 10%;">
  <div class="col-md-6 col-md-offset-3">
    <div>
      <img src="/logo.png" class="img-responsive" alt="photo oncloud-logo" style="padding: 20px;"/>
    </div>
    <%= render "shared/search", value: @q %>
  </div>
</div>
