.company-info-name,
.company-info-value {
  display: table-cell;
}

.company-info-name {
  text-align: right;
  padding: 6px 10px 6px 4px;
  font-weight: 400;
  background-color: transparent;
  width: 110px;
  vertical-align: middle;
}

.company-info-value {
  padding: 6px 4px 6px 6px;
}
